/* base.html CSS*/

*{
  box-sizing: border-box;
  margin : 0 auto; /* ê¸°ì¡´ì˜ í° í…Œë‘ë¦¬ ì—†ì• ê¸° ìœ„í•´ ì¶”ê°€ */
  font-family:  'Noto Sans KR', sans-serif;
}
a:link {  text-decoration: none;}
a:visited {  text-decoration: none;}
a:hover {
  text-decoration: none;
    color: #526187;
}

main{
  min-height: calc(100% - 70px);
  width: 100vw;
  overflow-x: scroll;
}

body,main {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
body::-webkit-scrollbar, main::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

nav{
  height : 50px;
  background-color : #981D26;
  color : white;
  display : flex;
  justify-content : space-between;
  align-items : center;
  margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
}
header{
  position:fixed; 
  top :0; 
  width:100vw; 
  z-index:200; 
  touch-action: none;
}
#lg{
  height : 90%;
  width : 25%;
  align-items : center;
  justify-content: center;
  display : flex;
  font-size : 2.5rem;
  text-align : center;
  line-height : 90%;
  margin: 0;
}
#src, #back{
  margin : 0;
  width : 59px;
}
#src img{
  height : 20px; 
  margin : 0 10px;
}

#menu{
  margin : 0;
  width : 59px;
  text-align: right;
}
.seeya-logo-box img{
  height: 27px;
}
.mypage-img{
  width : 45px; 
  height : 45px; 
  display : inline-block; 
  margin-right: 7px;
}
.mypage-img img{
  height : 100%; 
  margin : 0 0 0 5px; 
  width : 100%; 
  clip-path: circle(40% at center);
  object-fit: cover;
}
.menu-img{
  display : inline-block; 
  width : 25px; 
  height : 25px; 
  margin : 0 10px;
}

/* baseSeeya.html CSS */
.dropdown {
  background: #fff;
  display: inline-block;
  padding: 12px 20px;
  border-radius: 2px;
  width: 100%;
  box-sizing: border-box;
  height: 50px;
  line-height: 25px;
  position: relative;
  cursor: pointer;
  color: black;
  border-bottom: 1px solid #D8D8D8;
  align-items : center;
  padding-right : 30px;
}

.dropdown:after {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  position: absolute;
  right: 16px;
  transform: rotate(45deg);
  top: 17px;
  margin : 0 auto;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  transition: 0.4s;
}

ul {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 0;
  position: absolute;
  margin-top: 0px;
  opacity: 0;
  margin :0 auto;
  transition: opacity 0.2s linear;
  /*Nav bar íŽ¼ì¹  ë•Œì˜ ë°°ê²½ìƒ‰ ì„¤ì • : ë§¨ ë§ˆì§€ë§‰ì´ íˆ¬ëª…ë„*/
  background-color: rgb(201, 201, 201, 0.5);
}

ul li {
  position : relative;
  list-style: none;
  background: #fff;
  padding: 12px 16px;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  color: #526187;
  height: 50px;
  line-height: 25px;
  box-sizing: border-box;
  z-index : 9999;
}
ul li a{color:  #526187}
ul li:last-child{
  border-bottom: none;
  border-radius: 0px 0px 15px 15px;
}

ul li:hover{
  transition: 0.2s;
  cursor: pointer;
  color: #526187;
  background: #f5f5f5;
}

.active {
  transition: 0.2s;
  background: #fff;
  color: black;
}

.active:after {
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  transform: rotate(-135deg);
  top: 20px;
  transition: 0.4s;
}

.opened {
  opacity: 1 !important;
  height: 1400px;
}

#highlight{
  color : #981D26;
}

.footer-div{
  width:fit-content;
  padding: 20px 0;
  margin: 0 auto; 
  font-size: x-small; 
  color : gray;
  opacity: 70%;
}
.footer-div div{
    width: fit-content;
    margin: 0 auto;
}
footer p{
  margin: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
}

/* ìŠ¤í¬ë¡¤ë°” ì•ˆë³´ì´ê²Œ */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  overflow-y: scroll;
  zoom: normal;
}
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.seat_all {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.seat_all::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

/*baseseeya ë©”ë‰´ë°” a íƒœê·¸ */
.dropdown-list a {
  color: #74809d;
  display: block;
}

.seat-all {
  width: max-content;
  overflow: auto;
  margin: 0 auto;
  display: block;
}

/* ìŠ¤í¬ë¡¤ë°” ì•ˆë³´ì´ê²Œ */
.floor {
  padding-bottom: 40px;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  overflow-y: scroll;
  zoom: normal;
}
.floor::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}
.floor-with-no-padding {
  position: relative;
  bottom: 40px;
}

.seattable_zone_container {
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

/* ì—´ flex */
.row {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
}

.seats {
  cursor: pointer;
}
/* ì¢Œì„ í¬ê¸° */
#seat,
#row_zone {
  height: 25px;
  /* aíƒœê·¸ê°€ seat ì „ì²´ë¥¼ í´ë¦­í•  ìˆ˜ ìžˆë„ë¡ í•˜ê¸° ìœ„í•´ */
  float: left;
  /* seat ì•ˆì˜ ì¢Œì„ ë²ˆí˜¸ ì¤‘ì•™ ì •ë ¬ */
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 10%;
  margin: 2.5px;
}

#seat {
  width: 25px;
}

#row_zone {
  min-width: 25px;
}

/* ì‹¤ì œ ì¢Œì„ */
.real {
  border: 1px solid black;
}
.disabled {
  background-image: url('../image/휠체어석.png');
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center center;
}

/* ì¢Œì„ ìƒ‰ìƒ */
.red {
  background-color: #f22713;
  opacity: 80%;
}
.orange {
  background-color: #ff9924;
}
.yellow {
  background-color: #ffe647;
}
.lightgreen {
  background-color: #87d37c;
}
.green {
  background-color: #00b16a;
}
.no_review {
  background-color: #ebebeb;
}
.seats > .btn {
  margin: 60px;
  padding: 20px 40px;
  font-size: 30px;
  border-radius: 40px;
}

/* ëª¨ë‹¬ */
.modal {
  background: white;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 10px;
  left: 0;
  text-align: left;
  border-radius: 30px 30px 0 0;
  top: 100%;
  position: fixed;
  transition: all 300ms cubic-bezier(0.86, 0, 0.07, 1);
}

.modal-background {
  display: none;
  position: fixed; /* Stay in place */
  z-index: 5000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  touch-action: none;
}
.modal .header {
  padding: 20px;
  font-weight: 300;
  font-size: 24px;
  padding-top: 30px;
}
.header-top {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.header-close-box {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 60px;
}
.header-top-bottom-box {
  /*ëª¨ë‹¬ ë³„ì ì¹¸*/
  width: 100%;
  height: 56px;
  margin: 10px 0;
}
.star-aver_star-review-box {
  display: flex;
  width: 250px;
  justify-content: start;
  margin-left: 15px;
}
.aver_star-box {
  line-height: 53px;
}
.header-bottom {
  display: block;
  visibility: visible;
}
.review_count {
  margin-right: 10px;
}
.header-bottom a {
  display: block;
  color: #981d26;
  margin-top: 1px;
}
.btn {
  cursor: pointer;
}
.close {
  width: 13px;
  height: 13px;
  color: black;
  font-weight: bold;
  margin: 7px 5px;
  position: relative;
  right: 20px;
  top: 20px;
}
.close:hover {
  color: black;
}

/* ë³„ì  */
.yellow-star {
  margin-right: 10px;
  font-size: 2rem;
  color: orange;
  display: inline-block;
}
/* ë³„ì  ë */

.review-detail-box {
  display: flex;
  justify-content: start;
  width: 15%;
  margin-left: 22px;
}

/* ëŒ€ê·¹ìž¥ ì¸µ ë²„íŠ¼ */
.GrandTheaterFloor {
  width: 100%;
  height: 50px;
  background-color: white;
  position: fixed;
  margin-top: 90px;
  padding-top: 20px;
  padding-left: 20px;
  display: flex;
  z-index: 100;
}

.floor-type {
  display: block;
  color: black;
  margin-right: 10px;
  line-height: 30px;
}
.floor-type:hover {
  color: #df0101;
}
.floor-active,
.floor-active:hover {
  color: #981d26;
  border-bottom: 1px solid #981d26;
}
/* ê¸°ë³¸ì‹œì•¼ ë²„íŠ¼ */
.gradient-btn {
  right: 10px;
  width: 100px;
  height: 30px;
  grid-area: gradient-btn;
  display: inline-block;
  border-radius: 0;
  color: #7e7b7b;
  font-size: 0.9rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: white;
  border: 1.5px solid #7e7b7b;
  border-radius: 15px;
  transition: 700ms cubic-bezier(0.165, 0.84, 0.44, 1);
  z-index: 100;
  position: fixed;
  margin-top: 110px;
  margin-left: 10px;
  cursor: pointer;
}
.gradient-btn:focus {
  outline: none;
}

.gradient-btn-basic-view {
  color: white;
  background-color: #981d26;
  transition: 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
  border: 1.5px solid #981d26;
  border-radius: 15px;
}

.gradient-btn-basic-view:focus {
  outline: none;
}

.basic_view-box {
  width: 0;
  height: 0;
  padding-top: 0px;
  z-index: 100;
  background-color: white;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: flex-start;
}

.basic_view {
  display: block;
  margin: 0 auto;
  object-fit: contain;
}

/*ì¢Œì„í‘œ*/
.seating_table_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
  font-weight: bolder;
}
.rating-info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
}
.floor_container {
  display: flex;
  justify-content: center;
}
#seattable_zone {
  color: black;
  font-weight: bolder;
}
.row_zone p {
  font-size: 1em;
  color: black;
}
#seat p {
  font-size: 0.7em;
}

/* footer */
.footer {
  padding-bottom: 1rem;
}
footer .footer-div a {
  color: lightgray;
}
footer .footer-div a:hover {
  color: lightgray;
  text-decoration: none;
}
footer .footer-div a:focus {
  outline: none;
}
footer p {
  text-align: center;
}

/* ìŠ¤ë§ˆíŠ¸í° ë°˜ì‘í˜• ë””ìžì¸*/
@media (min-width: 320px) and (max-width: 410px) {
  .modal .header {
    padding-top: 20px;
  }
  .header-top-bottom-box {
    /* margin-top: -5vh; */
  }
  .header-bottom {
    /* margin-top: -2vh; */
  }
}
@media screen and (max-width: 768px) {
  .review-detail-box {
    width: 100%;
  }
}
/* ìŠ¤ë§ˆíŠ¸í° ë°˜ì‘í˜• ë””ìžì¸ ë */

/* íŒ¨ë“œ ë°˜ì‘í˜• ë””ìžì¸*/
@media (min-width: 768px) and (max-width: 999px) {
  .review-detail-box {
    width: 40%;
    /* margin-top: 20px; */
  }
  .gradient-btn {
    width: 100px;
  }
  .modal .header {
    font-weight: 500;
    font-size: 24px;
    padding-top: 30px;
  }
}
@media (min-width: 999px) and (max-width: 1024px) {
  .modal .header {
    font-weight: 500;
    font-size: 24px;
    padding-top: 30px;
  }
  .header-top-bottom-box {
    /* margin-top: -120px; */
  }
  .header-bottom {
    /* margin-top:-120px; */
  }
}
/* íŒ¨ë“œ ë°˜ì‘í˜• ë””ìžì¸ ë */

/* ì˜ˆìŠ¤24ìŠ¤í…Œì´ì§€ 1ê´€ */
#yes24stage-1.A1ê°€1,
#yes24stage-1.A1 {
  padding-right: 10px;
  padding-left: 50px;
  padding-bottom: 20px;
}
#yes24stage-1.A21,
#yes24stage-1.A2 {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}
#yes24stage-1.AA1,
#yes24stage-1.AA {
  padding-bottom: 20px;
  border-bottom: 1px solid black;
}
#yes24stage-1.AA1 .row,
#yes24stage-1.AA .row {
  justify-content: flex-start;
}
#yes24stage-1.BB1,
#yes24stage-1.BB {
  padding-bottom: 20px;
  border-bottom: 1px solid black;
}
#yes24stage-1.BB1 .row {
  justify-content: center;
}
#yes24stage-1.C11,
#yes24stage-1.C1 {
  padding-right: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid black;
}
#yes24stage-1.C11 .row,
#yes24stage-1.C1 .row {
  justify-content: flex-end;
}
#yes24stage-1.CC1,
#yes24stage-1.CC {
  padding-bottom: 20px;
  padding-right: 10px;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}
#yes24stage-1.DDë‚˜1,
#yes24stage-1.DD {
  padding-left: 10px;
  padding-bottom: 20px;
  padding-right: 50px;
}

/* ì˜ˆìŠ¤24ìŠ¤í…Œì´ì§€2ê´€ */
#yes24stage-2.A1ê°€1 {
  padding-right: 10px;
  padding-left: 50px;
  padding-bottom: 20px;
}
#yes24stage-2.A21 {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}
#yes24stage-2.AA1 {
  padding-bottom: 20px;
  border-bottom: 1px solid black;
}
#yes24stage-2.AA1 .row {
  justify-content: flex-start;
}
#yes24stage-2.BB1 .row,
#yes24stage-2.AA2 .row {
  justify-content: center;
}
#yes24stage-2.BB1 {
  padding-bottom: 20px;
  border-bottom: 1px solid black;
}
#yes24stage-2.CC1 {
  padding-right: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid black;
}
#yes24stage-2.CD1 {
  padding-right: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid black;
}

#yes24stage-2.CC1 .row {
  justify-content: flex-end;
}
#yes24stage-2.DDë‚˜1 {
  padding-left: 10px;
  padding-right: 50px;
  border-left: 1px solid black;
}
#yes24stage-2.AA2 {
  padding-bottom: 50px;
}

/* ì˜ˆìŠ¤24ìŠ¤í…Œì´ì§€ 3ê´€ */
#yes24stage-3.BB1 .row {
  justify-content: flex-end;
}
#yes24stage-3.CC1 .row,
#yes24stage-3.DD1 .row {
  justify-content: center;
}
#yes24stage-3.AA1 {
  margin-right: 15px;
  padding-left: 50px;
}
#yes24stage-3.BB1 {
  margin-right: 15px;
}
#yes24stage-3.EE1 {
  padding-right: 50px;
}
/* tom 1ê´€ */
#tom1.CC1 .row {
  justify-content: center;
}
#tom1.BB2F .row {
  justify-content: flex-end;
}
#tom1.CC2F,
#tom1.CC3F {
  margin: 0 20px;
}
#tom1.CC1 {
  margin: 0 30px;
}
#tom1.AA2F,
#tom1.AA3F {
  margin-right: 10px;
}
#tom1.EE2F,
#tom1.EE3F {
  margin-left: 10px;
}
#tom1.AA1,
#tom1.AA2f,
#tom1.AA3f {
  padding-left: 50px;
}
#tom1.EE1,
#tom1.EE2f,
#tom1.EE3f {
  padding-right: 50px;
}

/* tom 2ê´€ */
#tom2.B1 {
  position: relative;
  left: 60px;
  top: 20px;
  transform: rotate(45deg);
  height: 270px;
  z-index: 1;
}
#tom2.B1 .row {
  justify-content: center;
}
#tom2.C1 {
  position: relative;
  right: 20px;
  margin: 170px 0 50px 30px;
}
#tom2.D1 {
  position: relative;
  right: 60px;
  top: 60px;
  transform: rotate(315deg);
  height: 240px;
}
#tom2.D1 .row {
  justify-content: center;
}
#tom2.D1 .seattable_zone_container {
  margin-top: 0;
}

/* ì•„íŠ¸ì›ì”¨ì–´í„° 1ê´€ */
#artone1.CC1 .row {
  justify-content: center;
}
#artone1.CC2 .row {
  justify-content: flex-end;
}
#artone1.AAë¼1 {
  margin-top: 50px;
  padding-left: 50px;
}
#artone1.EEë‹¤1 {
  margin-top: 50px;
  padding-right: 50px;
}
#artone1.CC1 {
  border-bottom: 1px solid black;
  padding: 0 10px;
}
#artone1.BB1 {
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  padding-left: 10px;
  margin-left: 20px;
}
#artone1.DD1 {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  padding-right: 10px;
  margin-right: 20px;
}
#artone1.CC2 {
  margin: 0 10px;
}
#artone1.DD2 {
  margin-right: 30px;
}

/* ì•„íŠ¸ì›ì”¨ì–´í„° 2ê´€ */
#artone2.BB1 .row,
#artone2.BB2 .row {
  justify-content: center;
}
#artone2.BB1 {
  margin: 0 45px;
}
#artone2.BB2 {
  margin-right: 30px;
}
div#artone2.AA1,
#artone2.AA2 {
  padding-left: 50px;
}
#artone2.CC1,
#artone2.CC2 {
  padding-right: 50px;
}

/* ë‘ì‚°ì•„íŠ¸ì„¼í„° ì—°ê°•í™€ */
#doosan.A1 .row,
#doosan.D2 .row {
  justify-content: flex-end;
}
#doosan.AB1,
#doosan.BC1,
#doosan.DE2,
#doosan.EF2 {
  margin: 0 10px;
}
#doosan.C1 {
  margin-right: 60px;
}
#doosan.D2 {
  margin-left: 90px;
}
#doosan.AB1,
#doosan.BC1,
#doosan.DE2,
#doosan.EF2 {
  margin-top: 50px;
}
#doosan.C1,
#doosan.F2 {
  padding-right: 50px;
}

/*ë“œë¦¼ì•„íŠ¸ì„¼í„° 1ê´€*/
#dream-art-1.A11 .row {
  margin-right: 10px;
  padding-left: 50px;
}
#dream-art-1.AA1 .row {
  justify-content: flex-end;
}
#dream-art-1.AB1 .row {
  justify-content: center;
}
#dream-art-1.AC1 .row {
  justify-content: flex-start;
}
#dream-art-1.B11 .row {
  margin-left: 10px;
  padding-right: 50px;
}
#dream-art-1.A12 .row {
  margin-right: 10px;
  padding-left: 50px;
}
#dream-art-1.AA2 .row {
  margin-left: 20px;
  justify-content: flex-end;
}
#dream-art-1.AB2 .row {
  justify-content: center;
}
#dream-art-1.AC2 .row {
  margin-right: 20px;
  justify-content: flex-start;
}
#dream-art-1.B12 .row {
  margin-left: 10px;
  padding-right: 50px;
}

/*ë“œë¦¼ì•„íŠ¸ì„¼í„° 2ê´€*/
#dream-art-2.A11 .row {
  margin-right: 10px;
  padding-left: 50px;
}
#dream-art-2.AA1 .row {
  justify-content: center;
}
#dream-art-2.B11 .row {
  margin-left: 10px;
  padding-right: 50px;
}

/*ë¸Œë¦­ìŠ¤ì”¨ì–´í„°*/
#bricks.A11 .row {
  margin-right: 20px;
  padding-left: 50px;
}
#bricks.AA1 .row {
  justify-content: flex-end;
}
#bricks.AB1 .row {
  justify-content: flex-start;
}
#bricks.B11 .row {
  margin-left: 10px;
  padding-right: 50px;
}

/*ìœ ë‹ˆí”Œë ‰ìŠ¤ 1ê´€*/
#uniplex-1.A11 .row,
#uniplex-1.A11F .row,
#uniplex-1.A12 .row {
  margin-right: 10px;
  padding-left: 50px;
}
#uniplex-1.AA1 .row {
  justify-content: center;
  padding-right: 20px;
}
#uniplex-1.AB1 .row {
  justify-content: center;
}
#uniplex-1.AC1 .row {
  justify-content: center;
  padding-left: 20px;
}
#uniplex-1.AA1F .row {
  justify-content: flex-end;
  padding-right: 30px;
}
#uniplex-1.AB1F .row {
  justify-content: center;
  padding-right: 30px;
}
#uniplex-1.AC1F .row {
  padding-left: 30px;
}
#uniplex-1.B11 .row,
#uniplex-1.B11F .row,
#uniplex-1.B12 .row {
  margin-left: 10px;
  padding-right: 50px;
}
#uniplex-1.AA2 .row {
  justify-content: flex-end;
  padding-right: 30px;
}
#uniplex-1.AB2 .row {
  justify-content: flex-end;
}
#uniplex-1.AC2 .row {
  padding-left: 30px;
}

/*ìœ ë‹ˆí”Œë ‰ìŠ¤ 2ê´€*/
#uniplex-2.A11 .row,
#uniplex-2.A12 .row {
  margin-right: 30px;
  padding-left: 50px;
}
#uniplex-2.B11 .row,
#uniplex-2.B12 .row {
  margin-left: 30px;
  padding-right: 50px;
}
#uniplex-2.AA1 .row,
#uniplex-2.AA2 .row {
  justify-content: center;
}

/*í™ì•„ì„¼ ëŒ€ê·¹ìž¥*/
#hongik-1.A11F,
#hongik-1.B11F,
#hongik-1.A12,
#hongik-1.B12 {
  margin-top: 50px;
}
#hongik-1.A11F .row,
#hongik-1.B11F .row,
#hongik-1.A12 .row,
#hongik-1.B12 .row {
  margin: 0 30px;
}
#hongik-1.AAOP1 .row {
  justify-content: center;
}
#hongik-1.A1F .row {
  justify-content: flex-end;
  padding-left: 50px;
}
#hongik-1.B1F .row {
  justify-content: center;
}
#hongik-1.C1F .row {
  justify-content: flex-start;
  padding-right: 50px;
}
#hongik-1.A2 .row {
  padding-left: 50px;
}
#hongik-1.B2 .row {
  justify-content: center;
}
#hongik-1.C2 .row {
  padding-right: 50px;
}

/* ë¸”ë£¨ìŠ¤í€˜ì–´ */
#bluesquare.AA1,
#bluesquare.BB1,
#bluesquare.A11,
#bluesquare.B11,
#bluesquare.C11 {
  margin-top: 50px;
}
#bluesquare.AA2,
#bluesquare.BB2,
#bluesquare.A12,
#bluesquare.B12,
#bluesquare.C12 {
  margin-top: 50px;
}
#bluesquare.AA3,
#bluesquare.BB3,
#bluesquare.A13,
#bluesquare.B13,
#bluesquare.C13 {
  margin-top: 50px;
}
#bluesquare.A11 .row,
#bluesquare.A12 .row,
#bluesquare.A13 .row {
  justify-content: flex-end;
}
#bluesquare.B11 .row,
#bluesquare.B12 .row {
  justify-content: center;
}
#bluesquare.A11,
#bluesquare.B11,
#bluesquare.A12,
#bluesquare.B12,
#bluesquare.A13,
#bluesquare.B13 {
  padding-right: 20px;
}
#bluesquare.B11,
#bluesquare.B12,
#bluesquare.B13,
#bluesquare.C11,
#bluesquare.C12,
#bluesquare.C13 {
  padding-left: 20px;
}
#bluesquare.A11,
#bluesquare.A12,
#bluesquare.A13 {
  padding-left: 50px;
}
#bluesquare.C11,
#bluesquare.C12,
#bluesquare.C13 {
  padding-right: 50px;
}

/* ì¶©ë¬´ì•„íŠ¸ì„¼í„° ëŒ€ê·¹ìž¥ */
#chungmu_grand.aa1 .row {
  justify-content: flex-end;
  padding-right: 25px;
  padding-left: 50px;
}

#chungmu_grand.bb1 {
  display: block;
}

#chungmu_grand.bb1 .row {
  justify-content: center;
  padding-left: 25px;
  padding-right: 25px;
}

#chungmu_grand.cc1 .row {
  justify-content: flex-start;
  padding-left: 25px;
  padding-right: 50px;
}

#chungmu_grand.aa2 .row {
  justify-content: flex-end;
  padding-left: 50px;
  padding-right: 25px;
}

#chungmu_grand.bb2 .row {
  justify-content: center;
  padding-left: 25px;
  padding-right: 25px;
}

#chungmu_grand.cc2 .row {
  justify-content: flex-start;
  padding-left: 25px;
  padding-right: 50px;
}

#chungmu_grand.aa3 .row {
  justify-content: flex-end;
  padding-left: 50px;
  padding-right: 25px;
}

#chungmu_grand.bb3 .row {
  justify-content: center;
  padding-left: 25px;
  padding-right: 25px;
}

#chungmu_grand.cc3 .row {
  justify-content: flex-start;
  padding-left: 25px;
  padding-right: 50px;
}

/* ìƒ¤ë¡¯ë°ì”¨ì–´í„° */
#charlottetheater.A1A1 .row,
#charlottetheater.A1A2 .row {
  justify-content: flex-end;
}
#charlottetheater.A1A1,
#charlottetheater.A1A2 {
  padding-left: 50px;
}
#charlottetheater.C1C1,
#charlottetheater.C1C2 {
  padding-right: 50px;
}
#charlottetheater.B1B1 .row,
#charlottetheater.B1B2 .row {
  justify-content: center;
}
#charlottetheater.AA1,
#charlottetheater.BB1,
#charlottetheater.AA2,
#charlottetheater.BB2 {
  margin-top: 50px;
}
#charlottetheater.A1A1,
#charlottetheater.B1B1,
#charlottetheater.A1A2,
#charlottetheater.B1B2 {
  padding-right: 20px;
}
#charlottetheater.B1B1,
#charlottetheater.C1C1,
#charlottetheater.B1B2,
#charlottetheater.C1C2 {
  padding-left: 20px;
}

/* ì„¸ì¢…ë¬¸í™”íšŒê´€ ëŒ€ê·¹ìž¥ */
#sejongbig.A1 {
  padding-left: 50px;
  padding-right: 10px;
}
#sejongbig.B1 {
  padding-left: 10px;
  padding-right: 10px;
}
#sejongbig.B1 .row {
  justify-content: center;
}
#sejongbig.C1 {
  padding-left: 10px;
  padding-right: 10px;
}
#sejongbig.D1 {
  padding-left: 10px;
  padding-right: 10px;
}
#sejongbig.D1 .row {
  justify-content: center;
}
#sejongbig.E1 {
  padding-left: 10px;
  padding-right: 50px;
}
/* ì„¸ì¢…ë¬¸í™”íšŒê´€ ëŒ€ê·¹ìž¥ 2ì¸µ */
#sejongbig.A2 {
  padding-left: 50px;
  padding-right: 10px;
}
#sejongbig.A2 .row {
  justify-content: flex-end;
}
#sejongbig.B2 {
  padding-left: 10px;
  padding-right: 10px;
}
#sejongbig.C2 {
  padding-left: 10px;
}
#sejongbig.DB2 .row {
  justify-content: flex-end;
}
#sejongbig.E2 {
  padding-right: 10px;
}
#sejongbig.F2 {
  padding-left: 10px;
  padding-right: 10px;
}
#sejongbig.G2 {
  padding-left: 10px;
  padding-right: 50px;
}
#sejongbig.DA2,
#sejongbig.DB2 {
  margin-top: 50px;
}
/* ì„¸ì¢…ë¬¸í™”íšŒê´€ ëŒ€ê·¹ìž¥ 3ì¸µ */
#sejongbig.A3 {
  padding-left: 50px;
  padding-right: 10px;
}
#sejongbig.A3 .row {
  justify-content: flex-end;
}
#sejongbig.B3 {
  padding-left: 10px;
  padding-right: 10px;
}
#sejongbig.C3 {
  padding-left: 10px;
  padding-right: 10px;
}
#sejongbig.D3 {
  padding-left: 10px;
  padding-right: 10px;
}
#sejongbig.D3 .row {
  justify-content: flex-end;
}
#sejongbig.E3 {
  padding-left: 10px;
  padding-right: 10px;
}
#sejongbig.F3 {
  padding-left: 10px;
  padding-right: 10px;
}
#sejongbig.F3 .row {
  justify-content: flex-end;
}
#sejongbig.G3 {
  padding-left: 10px;
  padding-right: 10px;
}
#sejongbig.H3 {
  padding-left: 10px;
  padding-right: 50px;
}

/* ì¶©ë¬´ì•„íŠ¸ì„¼í„° ë¸”ëž™ */
#chungmu_black.a1 {
  position: relative;
  left: 150px;
  justify-content: center;
  height: 300px;
  transform: rotate(60deg);
}

#chungmu_black.a1 .row {
  justify-content: center;
}

#chungmu_black.b1 {
  position: relative;
  padding-top: 360px;
}

#chungmu_black.b1 .row {
  justify-content: center;
}

#chungmu_black.c1 {
  position: relative;
  right: 150px;
  justify-content: center;
  height: 300px;
  transform: rotate(-60deg);
}

#chungmu_black.c1 .row {
  justify-content: center;
}

/* ì˜ˆìˆ ì˜ ì „ë‹¹ CJ í† ì›”ê·¹ìž¥ */
#cj_towol.aaop1 .row {
  justify-content: center;
}

#cj_towol.a1f .row {
  justify-content: flex-end;
  margin-right: 35px;
  margin-left: 50px;
}

#cj_towol.aa1f {
  margin-top: 50px;
}

#cj_towol.b1f .row {
  justify-content: center;
  margin-right: 35px;
}

#cj_towol.bb1f {
  margin-top: 50px;
}

#cj_towol.c1f .row {
  justify-content: flex-start;
  margin-left: 35px;
  margin-right: 50px;
}

#cj_towol.a2 .row {
  justify-content: flex-start;
  margin-left: 50px;
  margin-right: 35px;
  padding-left: 50px;
}

#cj_towol.aa2 {
  margin-top: 50px;
}

#cj_towol.b2 .row {
  justify-content: center;
  margin-left: 35px;
}

#cj_towol.bb2 {
  margin-top: 50px;
}

#cj_towol.c2 .row {
  justify-content: flex-end;
  margin-left: 35px;
  margin-right: 50px;
  padding-right: 50px;
}

#cj_towol.aafamily12F .row {
  margin-right: 20px;
}

#cj_towol.aafamily22F .row {
  margin-left: 20px;
}

#cj_towol.a3 .row {
  justify-content: flex-start;
  margin-left: 50px;
  margin-right: 35px;
}

#cj_towol.aa3 {
  margin-top: 50px;
}

#cj_towol.b3 .row {
  justify-content: center;
  margin-left: 35px;
  margin-right: 35px;
}

#cj_towol.bb3 {
  margin-top: 50px;
}

#cj_towol.c3 .row {
  justify-content: flex-end;
  margin-left: 35px;
  margin-right: 50px;
}

/* ì„œê²½ëŒ€ ìŠ¤ì½˜ 2ê´€*/
#skon2.AB1,
#skon2.BC1 {
  margin-top: 50px;
}
#skon2.AA1 {
  margin-top: 80px;
  padding-left: 50px;
}
#skon2.CC1 {
  margin-top: 80px;
  padding-right: 50px;
}
#skon2.AAA1 {
  margin-right: 20px;
}
#skon2.C1 {
  margin-left: 20px;
}
#skon2.AAA1 .row {
  justify-content: flex-end;
}
#skon2.B1 .row {
  justify-content: center;
}

/* ì •ë™ê·¹ìž¥ */
#jungdong.E1,
#jungdong.B1F {
  margin: 0 30px;
}
#jungdong.A1F {
  padding-left: 50px;
}
#jungdong.C1F {
  padding-right: 50px;
}

/* ì„¸ì¢…ë¬¸í™”íšŒê´€ mì”¨ì–´í„° */
#mtheater.AA1 {
  padding: 60px 20px 0 50px;
}
#mtheater.CD1 {
  padding: 60px 50px 0 20px;
}
#mtheater.AA1 .row,
#mtheater.CC1 .row {
  justify-content: flex-end;
}
#mtheater.BB1 .row,
#mtheater.BB2 .row {
  justify-content: center;
}
#mtheater.AC1,
#mtheater.BC1,
#mtheater.AA2,
#mtheater.CC2 {
  padding: 0 10px;
}
#mtheater.AB1 {
  border-left: 1px solid black;
  padding-left: 20px;
}

#mtheater.AB1,
#mtheater.AC1,
#mtheater.BB1,
#mtheater.BC1,
#mtheater.CC1 {
  border-bottom: 1px solid black;
  padding-bottom: 20px;
}

#mtheater.CC1 {
  border-right: 1px solid black;
  padding-right: 20px;
}

/* ì˜ˆìˆ ì˜ì „ë‹¹ ì˜¤íŽ˜ë¼ê·¹ìž¥ */
#opera.AAA3 {
  padding-left: 50px;
}
#opera.CCC3 {
  padding-right: 50px;
}
#opera.AABOX11F {
  padding-top: 150px;
  padding-left: 50px;
}
#opera.DDBOX21F {
  padding-top: 150px;
  padding-right: 50px;
}
#opera.AABOX11F .row {
  justify-content: flex-end;
}
#opera.ABA1F .row {
  justify-content: flex-end;
}
#opera.BBB1F .row {
  justify-content: center;
}
#opera.AC1F,
#opera.BC1F,
#opera.AC2,
#opera.BC2,
#opera.AC3,
#opera.BC3,
#opera.AC4,
#opera.BC4 {
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
}
#opera.AAA2 {
  padding-left: 50px;
}
#opera.AAA2 .row {
  justify-content: flex-end;
}
#opera.BBB2 .row {
  justify-content: center;
}
#opera.CCC2 {
  padding-right: 50px;
}
#opera.AAA3 .row {
  justify-content: flex-end;
}
#opera.BBB3 .row {
  justify-content: center;
}
#opera.AAA4 {
  padding-left: 50px;
}
#opera.AAA4 .row {
  justify-content: flex-end;
}
#opera.BBB4 .row {
  justify-content: center;
}
#opera.CCC4 {
  padding-right: 50px;
}

/* ëŒ€í•™ë¡œì˜ˆìˆ ê·¹ìž¥ì†Œê·¹ìž¥ */
#arttheatermini.AAA1 {
  padding-left: 50px;
  padding-right: 10px;
}
#arttheatermini.BBB1 {
  padding-left: 10px;
  padding-right: 10px;
}
#arttheatermini.CCC1 {
  padding-left: 10px;
  padding-right: 50px;
}

/* ìžìœ ê·¹ìž¥ */
#jayu.AA1 .row,
#jayu.AB1 .row,
#jayu.AC1 .row {
  justify-content: center;
}
#jayu.AB1 .row {
  padding: 0 30px;
}
#jayu.A11 {
  padding-right: 30px;
}
#jayu.B11,
#jayu.C11 {
  padding-left: 30px;
}
#jayu.B11,
#jayu.C11 {
  padding-left: 30px;
}

/* ì´í•´ëž‘ì˜ˆìˆ ê·¹ìž¥ */
#dongkuk.AAê°€1 .row,
#dongkuk.AA1F .row {
  justify-content: flex-end;
}
#dongkuk.CAë‹¤1 .row,
#dongkuk.CA1F .row {
  justify-content: flex-start;
}
#dongkuk.B11,
#dongkuk.C11,
#dongkuk.B11F,
#dongkuk.C11F {
  padding: 0 15px;
}
#dongkuk.B11,
#dongkuk.C11 {
  padding-top: 50px;
}

/* ìŠ¤ì½˜ 1ê´€ */
#skon-1.AAA1 .row,
#skon-1.AAA2 .row {
  justify-content: flex-end;
}
#skon-1.BAB1 .row,
#skon-1.BAB2 .row {
  justify-content: flex-start;
}
#skon-1.B11,
#skon-1.C11,
#skon-1.B12,
#skon-1.C12 {
  padding: 0 15px;
  padding-top: 50px;
}

/* ì½”íŠ¼í™€ */
#cotton.AAê°€1 .row {
  justify-content: flex-end;
}
#cotton.CAë‹¤1 .row {
  justify-content: flex-start;
}
#cotton.B11,
#cotton.C11 {
  padding: 0 15px;
  padding-top: 50px;
}
#cotton.AAê°€1 {
  padding-right: 20px;
}
#cotton.BAë‚˜1 {
  padding: 0 20px;
}
#cotton.CAë‹¤1 {
  padding-left: 20px;
}

/* í”ŒëŸ¬ìŠ¤ì”¨ì–´í„°(2021.11 ì´ì „) */
#plustheater.a11 {
  padding-left: 50px;
  padding-right: 30px;
  padding-top: 50px;
}

#plustheater.a21 {
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  padding-right: 10px;
  padding-left: 10px;
}

#plustheater.aa1 {
  border-bottom: 1px solid black;
}

#plustheater.bb1 {
  border-bottom: 1px solid black;
}

#plustheater.cc1 {
  border-bottom: 1px solid black;
  padding-left: 30px;
}

#plustheater.d11 {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  padding-left: 10px;
  padding-right: 10px;
}

#plustheater.d21 {
  padding-left: 30px;
  padding-right: 50px;
  padding-top: 150px;
}

#plustheater.aa2 {
  padding-right: 10px;
}

#plustheater.cc2 {
  padding-left: 10px;
}

/* ëŒ€í•™ë¡œ ì˜ˆìˆ ê·¹ìž¥ ëŒ€ê·¹ìž¥ */
#daehakro_grand.aa1 {
  padding-top: 80px;
  padding-right: 20px;
  padding-left: 50px;
}

#daehakro_grand.aaa1 {
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  padding-left: 20px;
  padding-right: 10px;
}

#daehakro_grand.aaa1 .row {
  justify-content: flex-end;
}

#daehakro_grand.ab1 {
  padding-top: 50px;
  padding-left: 10px;
  padding-right: 20px;
  border-bottom: 1px solid black;
}

#daehakro_grand.b1 {
  border-bottom: 1px solid black;
  padding-bottom: 20px;
}

#daehakro_grand.b1 .row {
  justify-content: center;
}

#daehakro_grand.b11 {
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 10px;
  border-bottom: 1px solid black;
}

#daehakro_grand.c1 {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  padding-left: 10px;
  padding-right: 20px;
}

#daehakro_grand.c11 {
  padding-top: 80px;
  padding-left: 20px;
  padding-right: 50px;
}

#daehakro_grand.aa1f {
  padding-right: 280px;
}

#daehakro_grand.aa1f .row .seat_num:last-child {
  padding-left: 10px;
}

#daehakro_grand.cc1f {
  padding-left: 150px;
}

#daehakro_grand.cc1f .row .seat_num:first-child {
  padding-right: 10px;
}

#daehakro_grand.aa2 {
  padding-right: 30px;
}

#daehakro_grand.d2 {
  padding-top: 200px;
}

#daehakro_grand.d2 .row {
  justify-content: flex-end;
}

#daehakro_grand.d12 {
  padding-top: 250px;
  padding-left: 15px;
  padding-right: 10px;
}

#daehakro_grand.e2 {
  padding-top: 200px;
}

#daehakro_grand.e12 {
  padding-left: 30px;
}

/* ë””íë¸Œ ì•„íŠ¸ì„¼í„° */
#d-cube.aa1 {
  padding-top: 50px;
  padding-right: 20px;
}

#d-cube.bb1 {
  padding-top: 50px;
  padding-left: 20px;
}

#d-cube.a1f .row {
  justify-content: flex-end;
}

#d-cube.a11f {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 50px;
}

#d-cube.b1f .row {
  justify-content: center;
}

#d-cube.b11f {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 50px;
}

#d-cube.a2 {
  padding-left: 50px;
}

#d-cube.a12 {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 50px;
}

#d-cube.a2 .row {
  justify-content: flex-end;
}

#d-cube.b12 {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 50px;
}

#d-cube.b2 .row {
  justify-content: center;
}

#d-cube.c2 {
  padding-right: 50px;
}

/* ì½”ì—‘ìŠ¤ ì‹ í•œì¹´ë“œ ì•„í‹°ì›€ (í˜„ìž¬) */
#coex_shinhancard.aa1 {
  margin-top: 50px;
}

#coex_shinhancard.aaop1 .row {
  justify-content: center;
  margin-left: 25px;
  margin-right: 25px;
}

#coex_shinhancard.bb1 {
  margin-top: 50px;
}

#coex_shinhancard.a1f .row {
  justify-content: flex-end;
  margin-right: 25px;
  margin-left: 50px;
}

#coex_shinhancard.aa1f {
  margin-top: 50px;
}

#coex_shinhancard.b1f .row {
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
}

#coex_shinhancard.bb1f {
  margin-top: 50px;
}

#coex_shinhancard.c1f .row {
  justify-content: flex-start;
  margin-left: 25px;
  margin-right: 50px;
}

#coex_shinhancard.a2 .row {
  justify-content: flex-end;
  margin-right: 25px;
  margin-left: 50px;
}

#coex_shinhancard.aa2 {
  margin-top: 50px;
}

#coex_shinhancard.b2 .row {
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
}

#coex_shinhancard.bb2 {
  margin-top: 50px;
}

#coex_shinhancard.c2 .row {
  justify-content: flex-start;
  margin-left: 25px;
  margin-right: 50px;
}

/* ê´‘ë¦¼ì•„íŠ¸ì„¼í„° BBCHí™€ */
#BBCH.AA1 .row {
  justify-content: center;
}
#BBCH.A11 {
  padding-right: 25px;
}
#BBCH.AA1F .row {
  justify-content: flex-end;
}
#BBCH.B11F,
#BBCH.B12 {
  padding-left: 50px;
  padding-right: 50px;
}
#BBCH.A11F {
  padding-left: 50px;
  padding-right: 25px;
}
#BBCH.CC1F {
  padding-right: 50px;
  padding-left: 25px;
}
#BBCH.A12 {
  padding-left: 50px;
  padding-right: 25px;
}
#BBCH.CC2 {
  padding-right: 50px;
  padding-left: 25px;
}

/* LGì•„íŠ¸ì„¼í„° */
#LGart.AA1 .row,
#LGart.AA1F .row {
  justify-content: flex-end;
}
#LGart.A11F,
#LGart.A11,
#LGart.A12,
#LGart.A13 {
  padding-left: 50px;
  padding-right: 25px;
}
#LGart.B11,
#LGart.B11F,
#LGart.B12,
#LGart.B13 {
  padding-left: 50px;
  padding-right: 50px;
}
#LGart.B11F .row {
  justify-content: center;
}
#LGart.B12 .row {
  justify-content: center;
}
#LGart.CC1,
#LGart.CC1F,
#LGart.CC2,
#LGart.CC3 {
  padding-left: 25px;
  padding-right: 50px;
}
/* ì•„ë¥´ì½” ì˜ˆìˆ ê·¹ìž¥ ì†Œê·¹ìž¥ */
#arko_small.a1ë‚˜1 .row {
  justify-content: flex-end;
}
#arko_small.a1ë‚˜1 {
  padding-right: 60px;
}
#arko_small.A11,
#arko_small.BB1 {
  padding-top: 50px;
}
#arko_small.A11 {
  padding-right: 10px;
}
#arko_small.BB1 {
  padding-left: 10px;
}

/* ë™ì–‘ì˜ˆìˆ ê·¹ìž¥ 1ê´€ */
#dongyang_art.BB1 .row {
  justify-content: center;
}
#dongyang_art.AA1,
#dongyang_art.CC1 {
  padding-top: 50px;
}
#dongyang_art.BB1 {
  padding-left: 5px;
  padding-right: 5px;
}
#dongyang_art.AA1 {
  padding-right: 15px;
  border-right: 1px solid black;
}
#dongyang_art.CC1 {
  padding-left: 15px;
  border-left: 1px solid black;
}
#dongyang_art.BB1,
#dongyang_art.B11,
#dongyang_art.C11 {
  padding-bottom: 15px;
  border-bottom: 1px solid black;
}
#dongyang_art.B11 {
  padding-left: 10px;
}
#dongyang_art.C11 {
  padding-right: 10px;
}
/* êµ­ë¦½ê·¹ë‹¨ ëª…ë™ì˜ˆìˆ ê·¹ìž¥ */
#myeongdong.AA1 .row,
#myeongdong.AA1F .row {
  justify-content: flex-end;
}
#myeongdong.B21 .row,
#myeongdong.B21F .row {
  justify-content: center;
}
#myeongdong.AA1 {
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  padding-bottom: 20px;
  padding-left: 20px;
}
#myeongdong.C11 {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  padding-bottom: 20px;
  padding-right: 20px;
}
#myeongdong.B11,
#myeongdong.B21,
#myeongdong.BB1 {
  border-bottom: 1px solid black;
  padding-bottom: 20px;
}
#myeongdong.A1BOX11 {
  padding-right: 10px;
}
#myeongdong.CCBOX21 {
  padding-left: 10px;
}
#myeongdong.B21F {
  padding-left: 15px;
  padding-right: 15px;
}
#myeongdong.B11,
#myeongdong.B11F,
#myeongdong.BB1,
#myeongdong.BB1F {
  padding-left: 10px;
  padding-right: 10px;
}
#myeongdong.A1BOX12 {
  border-right: 1px solid black;
  padding-right: 10px;
  height: 230px;
}
#myeongdong.A1BOX13 {
  border-right: 1px solid black;
  padding-right: 10px;
  height: 140px;
}
#myeongdong.CCBOX22 {
  border-left: 1px solid black;
  padding-left: 10px;
  height: 230px;
}
#myeongdong.CCBOX23 {
  border-left: 1px solid black;
  padding-left: 10px;
  height: 140px;
}
#myeongdong.AA2,
#myeongdong.B12,
#myeongdong.B22,
#myeongdong.BB2,
#myeongdong.C12 {
  margin-top: 230px;
  border-top: 1px solid black;
  padding-top: 30px;
}
#myeongdong.AA3,
#myeongdong.B13,
#myeongdong.B23,
#myeongdong.BB3,
#myeongdong.C13 {
  margin-top: 140px;
  border-top: 1px solid black;
  padding-top: 30px;
}
#myeongdong.B12,
#myeongdong.BB2,
#myeongdong.B13,
#myeongdong.BB3 {
  padding-left: 10px;
  padding-right: 10px;
}
#myeongdong.B22 .row,
#myeongdong.B23 .row {
  justify-content: center;
}
#myeongdong.A1BOX11,
#myeongdong.A1BOX12,
#myeongdong.A1BOX13 {
  padding-left: 50px;
}
#myeongdong.CCBOX21,
#myeongdong.CCBOX22,
#myeongdong.CCBOX23 {
  padding-right: 50px;
}

/* ì•„ë¥´ì½” ì˜ˆìˆ ê·¹ìž¥ ëŒ€ê·¹ìž¥ */
#arko-big.A1ê°€1 {
  padding-left: 140px;
}
#arko-big.A1ê°€1 .row {
  justify-content: flex-end;
}
#arko-big.A21 {
  padding: 50px 20px 0 20px;
}
#arko-big.A1ê°€1N {
  padding-left: 135px;
  padding-top: 30px;
}
#arko-big.A1ê°€1N .row:nth-child(2) {
  padding-right: 72px;
}
#arko-big.A1ê°€1N .seattable_zone_container,
#arko-big.A5ë‹¤1N .seattable_zone_container {
  display: none;
}
#arko-big.A1ê°€1N .row {
  justify-content: flex-end;
}
#arko-big.A21N {
  padding: 0 10px 0 10px;
}
#arko-big.A3ë‚˜1 .row {
  justify-content: center;
}
#arko-big.A3ë¼1N {
  padding-left: 30px;
}
#arko-big.A3ë¼1N .row {
  justify-content: flex-end;
}
#arko-big.A3ë¼1N .seattable_zone_container {
  margin: 10px auto;
}
#arko-big.A41,
#arko-big.A22,
#arko-big.A42 {
  padding: 50px 20px 0 20px;
}
#arko-big.A41N {
  padding: 50px 5px 0 5px;
}
#arko-big.A41N {
  padding-top: 30px;
}
#arko-big.A61N {
  margin-right: 60px;
  padding-left: 5px;
}
div#arko-big.A5ë‹¤1N {
  padding-left: 30px;
}
#arko-big.A5ë‹¤1N .row {
  justify-content: flex-end;
}
#arko-big.A1ë§ˆ2 .row {
  padding-left: 60px;
}
#arko-big.A1ë§ˆ2 .row:last-child {
  padding-left: 0;
}
#arko-big.A3ë°”2 .row {
  justify-content: center;
}
#arko-big.A5ì‚¬2 .row {
  justify-content: flex-end;
}
/* ì•„íŠ¸ì› 3ê´€ */
#artone-3.AA1 .row {
  justify-content: flex-end;
  margin-right: 20px;
}
#artone-3.AB1 .row {
  justify-content: flex-start;
  margin-left: 20px;
}
#artone-3.A11 {
  padding-right: 30px;
}
#artone-3.B11 {
  padding-left: 30px;
}
/* ë“œì•„ì„¼ 3ê´€ */
#dream-art-3.B11 {
  padding-left: 25px;
}
#dream-art-3.AA1 .row {
  justify-content: center;
}
/* ë“œì•„ì„¼ 4ê´€ */
#dream-art-4.AA1 .row {
  justify-content: center;
}
#dream-art-4.AA1 {
  padding-left: 30px;
  padding-right: 30px;
}
/* ì„¸ì¢…s */
#sejong-s.AA1 {
  padding-right: 20px;
  border-right: 1px solid black;
}
#sejong-s.BB1 {
  padding-right: 20px;
  padding-left: 30px;
  border-bottom: 1px solid black;
}
#sejong-s.C11 {
  padding: 0 10px 0 30px;
}
#sejong-s.D11 {
  padding: 0 30px 0 10px;
}
#sejong-s.C11,
#sejong-s.CC1,
#sejong-s.D11 {
  margin-top: 150px;
  border-bottom: 1px solid black;
}
#sejong-s.CC1 .row {
  justify-content: center;
}

#sejong-s.DD1 {
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 1px solid black;
}
#sejong-s.EE1 .row {
  padding-left: 30px;
  border-left: 1px solid black;
}
#sejong-s.BB1 .row {
  justify-content: center;
}
#sejong-s.DD1 .row {
  justify-content: center;
}
/* JTN 1ê´€ */
#JTN-1.A11,
#JTN-1.A41 {
  padding: 0 20px;
}
#JTN-1.A31 {
  margin-left: 100px;
}
/* KT&G ìƒìƒë§ˆë‹¹ ëŒ€ì¹˜ì•„íŠ¸í™€ */
#ktg.AA1 .row {
  justify-content: flex-end;
}
#ktg.BB1 .row {
  justify-content: center;
}
#ktg.AB1,
#ktg.BC1 {
  margin: 0 10px;
}
#ktg.AA1 {
  padding-left: 50px;
}
#ktg.CC1 {
  padding-right: 50px;
}

/* êµ­ë¦½ì¤‘ì•™ë°•ë¬¼ê´€ ê·¹ìž¥ ìš© */
#yong.aa1 .row {
  justify-content: flex-end;
  padding-left: 50px;
}

#yong.ab1 .row {
  padding-left: 25px;
  padding-right: 25px;
}

#yong.bc1 .row {
  padding-left: 25px;
  padding-right: 25px;
}

#yong.cc1 .row {
  padding-right: 25px;
}

#yong.aa1f .row {
  justify-content: flex-end;
  padding-left: 50px;
}

#yong.ab1f .row {
  padding-left: 25px;
  padding-right: 25px;
}

#yong.bc1f .row {
  padding-left: 25px;
  padding-right: 25px;
}

#yong.cc1f .row {
  padding-right: 25px;
}

#yong.aa2 .row {
  padding-left: 50px;
}

#yong.ab2 {
  padding-top: 120px;
}

#yong.ab2 .row {
  padding-left: 25px;
  padding-right: 25px;
}

#yong.bb2 {
  padding-top: 120px;
}

#yong.bc2 {
  padding-top: 120px;
}

#yong.bc2 .row {
  padding-left: 25px;
  padding-right: 25px;
}

#yong.cc2 .row {
  justify-content: flex-end;
  padding-right: 50px;
}

/* LGì•„íŠ¸ì„¼í„° ì„œìš¸ LG Signature í™€ */
#lg_signature_hall.aa1 {
  padding-top: 50px;
  padding-bottom: 70px;
}

#lg_signature_hall.aa1 .row {
  justify-content: flex-end;
  padding-left: 50px;
}

#lg_signature_hall.ab1 {
  padding-top: 50px;
  padding-bottom: 70px;
}

#lg_signature_hall.ab1 .row {
  padding-left: 25px;
  padding-right: 25px;
}

#lg_signature_hall.bbop1 .row {
  justify-content: center;
  padding-left: 15px;
  padding-right: 15px;
}

#lg_signature_hall.bc1 {
  padding-top: 50px;
  padding-bottom: 70px;
}

#lg_signature_hall.bc1 .row {
  padding-left: 25px;
  padding-right: 25px;
}

#lg_signature_hall.cc1 {
  padding-top: 50px;
  padding-bottom: 70px;
}

#lg_signature_hall.cc1 .row {
  padding-right: 50px;
}

.floor_container {
  padding-left: 50px;
  padding-right: 50px;
}

#lg_signature_hall.aabl1F .row {
  padding-left: 50px;
  padding-right: 50px;
}

#lg_signature_hall.ab1F {
  justify-content: flex-end;
  padding-left: 50px;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

#lg_signature_hall.ab1F .row {
  justify-content: flex-end;
}

#lg_signature_hall.ac1F .row {
  padding-left: 25px;
  padding-right: 25px;
}

#lg_signature_hall.bb1F .row {
  justify-content: center;
}

#lg_signature_hall.bc1F .row {
  padding-left: 25px;
  padding-right: 25px;
}

#lg_signature_hall.bd1F {
  padding-right: 50px;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

#lg_signature_hall.ccbr1F .row {
  padding-left: 50px;
  padding-right: 50px;
}

#lg_signature_hall.aa1G .row {
  justify-content: flex-end;
  padding-left: 50px;
}

#lg_signature_hall.ab1G .row {
  padding-left: 25px;
  padding-right: 25px;
}

#lg_signature_hall.bb1G .row {
  justify-content: center;
}

#lg_signature_hall.bc1G .row {
  padding-left: 25px;
  padding-right: 25px;
}

#lg_signature_hall.cc1G .row {
  padding-right: 50px;
}

#lg_signature_hall.aabl2 .row {
  padding-left: 50px;
  padding-right: 50px;
}

#lg_signature_hall.ab2 {
  padding-top: 200px;
}

#lg_signature_hall.ab2 .row {
  justify-content: flex-end;
}

#lg_signature_hall.ac2 {
  padding-top: 200px;
  padding-left: 25px;
  padding-right: 25px;
}

#lg_signature_hall.bb2 {
  padding-top: 200px;
}

#lg_signature_hall.bb2 .row {
  justify-content: center;
}

#lg_signature_hall.bc2 {
  padding-top: 200px;
  padding-left: 25px;
  padding-right: 25px;
}

#lg_signature_hall.cc2 {
  padding-top: 200px;
}

#lg_signature_hall.cdbr2 .row {
  padding-left: 50px;
  padding-right: 50px;
}

#lg_signature_hall.cc2 {
  padding-top: 200px;
}

#lg_signature_hall.cdbr2 .row {
  padding-left: 50px;
  padding-right: 50px;
}

#lg_signature_hall.aa3 .row {
  justify-content: flex-end;
  padding-left: 50px;
}

#lg_signature_hall.ab3 .row {
  padding-left: 25px;
  padding-right: 25px;
}

#lg_signature_hall.bb3 .row {
  justify-content: center;
}

#lg_signature_hall.bc3 .row {
  padding-left: 25px;
  padding-right: 25px;
}

#lg_signature_hall.cc3 .row {
  padding-right: 50px;
}

/* ë°±ì•”ì•„íŠ¸í™€ */
#baekam.AA1 .row,
#baekam.BB1 .row {
  justify-content: center;
}
#baekam.AA2 .row {
  justify-content: flex-end;
}
#baekam.AB1,
#baekam.AB2,
#baekam.BC2 {
  margin: 0 10px;
}
#baekam.AA1 {
  padding-left: 50px;
}
#baekam.BB1 {
  padding-right: 50px;
}

/* í”ŒëŸ¬ìŠ¤ì”¨ì–´í„°(2021.11 ì´í›„) */
#plustheater-2021-11.a11 {
  padding-left: 50px;
  padding-right: 30px;
  padding-top: 50px;
}

#plustheater-2021-11.a21 {
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  padding-top: 30px;
  padding-right: 10px;
  padding-left: 10px;
}

#plustheater-2021-11.aa1 {
  border-bottom: 1px solid black;
}

#plustheater-2021-11.bb1 {
  border-bottom: 1px solid black;
  padding-top: 30px;
}

#plustheater-2021-11.cc1 {
  border-bottom: 1px solid black;
  padding-left: 30px;
}

#plustheater-2021-11.d11 {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
}

#plustheater-2021-11.d21 {
  padding-left: 30px;
  padding-right: 50px;
  padding-top: 150px;
}

#plustheater-2021-11.aa2 {
  padding-right: 10px;
}

#plustheater-2021-11.cc2 {
  padding-left: 10px;
}

/* í•œì „ì•„íŠ¸ì„¼í„° */
#hanseon.BB1 .row,
#hanseon.CC1 .row,
#hanseon.DD1 .row,
#hanseon.EE1 .row,
#hanseon.FF1 .row,
#hanseon.CC1F .row,
#hanseon.EE1F .row,
#hanseon.AA2F .row,
#hanseon.DD2F .row,
#hanseon.BB3F .row,
#hanseon.EE3F .row {
  justify-content: center;
}
#hanseon.BB1F .row,
#hanseon.CC2F .row,
#hanseon.AA3F .row,
#hanseon.DD3F .row {
  justify-content: flex-end;
}
#hanseon.BC1,
#hanseon.CD1,
#hanseon.DE1,
#hanseon.EF1,
#hanseon.BC1F,
#hanseon.CD1F,
#hanseon.DE1F,
#hanseon.EF1F,
#hanseon.AB2F,
#hanseon.BC2F,
#hanseon.CD2F,
#hanseon.AB3F,
#hanseon.BC3F,
#hanseon.CD3F,
#hanseon.DE3F,
#hanseon.EF3F {
  padding: 0 10px;
}

#hanseon.BB1F,
#hanseon.AA3F {
  padding-left: 50px;
}
#hanseon.FF1F,
#hanseon.FF3F {
  padding-right: 50px;
}
#hanseon.AA2 {
  margin-right: 700px;
}
#hanseon.GG2 {
  margin-left: 700px;
}

/* ìœ ë‹ˆë²„ì„¤ì•„íŠ¸ì„¼í„° */
#universal.AA1,
#universal.CC1 {
  margin-top: 140px;
}

#universal.AB1,
#universal.BC1 {
  margin: 50px 10px 0 10px;
}

#universal.BC1F,
#universal.CD1F {
  margin: 0 10px;
}

#universal.AA1 {
  margin-left: 50px;
}

#universal.CC1 {
  margin-right: 50px;
}

#universal.AA1 .row,
#universal.AAA1 .row,
#universal.GG1B .row,
#universal.FF1B .row,
#universal.AB1C .row,
#universal.AA2A .row {
  justify-content: flex-end;
}

#universal.AA2F .row,
#universal.BB2F .row,
#universal.CC2F .row,
#universal.DD2F .row,
#universal.EE2F .row,
#universal.AA1B .row,
#universal.AB1B .row,
#universal.DD1B .row,
#universal.GH1B .row,
#universal.HH1B .row,
#universal.BB2A .row {
  justify-content: center;
}

#universal.AA1F,
#universal.BB1F,
#universal.DD1F,
#universal.EE1F {
  margin-top: 30px;
}

#universal.AA1B,
#universal.HH1B {
  margin-top: 200px;
}

#universal.BB1B,
#universal.FF1B {
  margin-top: 800px;
}

#universal.CC1B,
#universal.EE1B {
  margin-top: 830px;
}

#universal.DD1B {
  margin-top: 740px;
}

#universal.CC1B,
#universal.GG1B {
  padding-left: 30px;
}

#universal.BB1C,
#universal.FF1C {
  padding: 0 30px;
}

#universal.DD1C {
  padding: 0 60px;
}

#universal.AA1B {
  padding-right: 30px;
  margin-left: 100px;
}

#universal.HH1B {
  padding-left: 30px;
  margin-right: 100px;
}

#universal.GG1B {
  padding-right: 60px;
}

#universal.BA1B {
  padding-left: 60px;
}

#universal.AB1B {
  padding-left: 70px;
  padding-right: 20px;
  border-right: 1px dotted black;
  border-left: 3px solid black;
}

#universal.GH1B {
  padding-right: 70px;
  padding-left: 20px;
  border-left: 1px dotted black;
  border-right: 3px solid black;
}

#universal.BA1B,
#universal.BB1B,
#universal.CC1B,
#universal.DD1B,
#universal.EE1B,
#universal.FF1B,
#universal.GG1B {
  padding-bottom: 60px;
  border-bottom: 1px dotted black;
}

#universal.BB1C,
#universal.CC1C,
#universal.DD1C,
#universal.EE1C,
#universal.FF1C {
  padding-bottom: 90px;
  border-bottom: 3px solid black;
}

#universal.AA1C {
  position: relative;
  left: 60px;
  top: 100px;
  border-top: 3px solid black;
  padding: 30px 50px 0 50px;
  transform: rotate(40deg);
  height: 60px;
}

#universal.HH1C {
  position: relative;
  right: 60px;
  top: 100px;
  border-top: 3px solid black;
  padding: 30px 50px 0 50px;
  transform: rotate(320deg);
  height: 60px;
}

#universal.BB2A {
  padding: 0 150px 50px 510px;
  border-bottom: 1px dotted black;
}

#universal.CC2A {
  padding-right: 300px;
  border-bottom: 1px dotted black;
}

#universal.AA2F,
#universal.BB2F,
#universal.DD2F,
#universal.EE2F {
  margin-top: 30px;
}

#universal.AB2F,
#universal.BC2F,
#universal.CD2F,
#universal.DE2F {
  margin: 90px 10px 0 10px;
}

/* ê·¸ë ˆì´íŠ¸ ì½”ë©§ 2021 */

#universal.BB0Aë¬´ëŒ€,
#universal.EE0Aë¬´ëŒ€,
#universal.AA0B,
#universal.CC0B {
  margin-top: 50px;
}

#universal.D0Aë¬´ëŒ€ .row,
#universal.B0B .row {
  justify-content: flex-end;
}

#universal.D0Aë¬´ëŒ€,
#universal.B0B {
  margin-left: 200px;
}

#universal.C0Aë¬´ëŒ€,
#universal.AAA0B {
  margin-right: 200px;
}

/* CJ ì•„ì§€íŠ¸ */
#cjazit.aa1 .row {
  padding-left: 20px;
  padding-right: 20px;
}
#cjazit.aa2 .row {
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
}

/* ì½”ì—‘ìŠ¤ì•„í‹°ì›€ (ê³¼ê±°) */
#coexartium.aaop1 .row {
  justify-content: center;
}

#coexartium.a1f .row {
  justify-content: flex-end;
  margin-right: 25px;
  margin-left: 50px;
}

#coexartium.aa1f {
  margin-top: 50px;
}

#coexartium.b1f .row {
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
}

#coexartium.bb1f {
  margin-top: 50px;
}

#coexartium.c1f .row {
  justify-content: flex-start;
  margin-left: 25px;
  margin-right: 50px;
}

#coexartium.a2 .row {
  justify-content: flex-end;
  margin-right: 25px;
  margin-left: 50px;
}

#coexartium.aa2 {
  margin-top: 50px;
}

#coexartium.b2 .row {
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
}

#coexartium.bb2 {
  margin-top: 50px;
}

#coexartium.c2 .row {
  justify-content: flex-start;
  margin-left: 25px;
  margin-right: 50px;
}

/* ì˜ˆìˆ ì˜ì „ë‹¹ ìžìœ ì†Œê·¹ìž¥ */
#jayu-small.B21A .row {
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 15px;
}

#jayu-small.B1A1A .row {
  justify-content: flex-end;
  margin-top: 15px;
}

#jayu-small.BBB1A .row {
  margin-top: 15px;
}

#jayu-small.B1A1A {
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  padding: 40px 0 0 40px;
}

#jayu-small.B21A {
  border-bottom: 1px solid black;
  padding-bottom: 40px;
}

#jayu-small.BBB1A {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  padding-right: 40px;
  padding-top: 40px;
}

#jayu-small.BB1B {
  border-bottom: 1px solid black;
  padding-bottom: 40px;
  padding-right: 60px;
}

#jayu-small.BB1B .row {
  justify-content: center;
}

#jayu-small.AA1A {
  padding-right: 40px;
  padding-left: 40px;
}

#jayu-small.B11B {
  border-bottom: 1px solid black;
  padding: 0 100px 40px 0;
}

#jayu-small.B11B .row {
  justify-content: center;
}

#jayu-small.C11A {
  padding: 0 40px 0 40px;
  border-right: 1px solid black;
}

#jayu-small.CC1A {
  padding-left: 40px;
  padding-right: 40px;
}

#jayu-small.A11A {
  border-right: 1px solid black;
  padding-right: 40px;
  padding-left: 40px;
}

#jayu-small.B11C {
  padding-right: 100px;
}

#jayu-small.BB1C {
  padding-left: 100px;
  padding-right: 25px;
}

/* ì˜ˆìˆ ì˜ì „ë‹¹ ìžìœ ì†Œê·¹ìž¥ ì–¸ë”ìŠ¤í„°ë”” ë¬´ëŒ€ì„ */
#jayu-small.AA0Aë¬´ëŒ€ {
  padding: 0 180px 20px 20px;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  margin-bottom: 40px;
}

#jayu-small.BB0Aë¬´ëŒ€ {
  padding: 0 20px 20px 180px;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  margin-bottom: 40px;
}

#jayu-small.BB0Aë¬´ëŒ€ .row {
  justify-content: flex-end;
}

/* ì˜ˆê·¸ë¦°ì”¨ì–´í„° */
#yegreen.A11 {
  margin-top: 50px;
  margin-right: 20px;
  padding-left: 40px;
}
#yegreen.AAA1 .row {
  justify-content: flex-end;
}

#yegreen.ABB1 .row {
  justify-content: flex-end;
}
#yegreen.B11 {
  margin-top: 50px;
  margin-left: 20px;
  padding-right: 40px;
}

/* ì„±ë‚¨ì•„íŠ¸ì„¼í„° ì˜¤íŽ˜ë¼í•˜ìš°ìŠ¤ */
#snart.A11 .row,
#snart.C1CC .row,
#snart.C1DD3 .row {
  justify-content: flex-end;
}

#snart.AA1,
#snart.BB1,
#snart.B1CC,
#snart.B1DD3 {
  padding-left: 20px;
  padding-right: 20px;
}

#snart.AABB,
#snart.AAAA2 {
  padding-right: 1300px;
}

#snart.C1CC,
#snart.C1DD3 {
  padding-left: 30px;
}

#snart.A1CC,
#snart.A1DD3,
#snart.A11,
#snart.A1AA2 {
  padding-left: 50px;
}

#snart.CC1,
#snart.CCAA2,
#snart.CCCC,
#snart.CCDD3 {
  padding-right: 50px;
}

#snart.C1AA2,
#snart.A1BB,
#snart.C1CC,
#snart.C1DD3,
#snart.A1CC,
#snart.A1DD3 {
  padding-right: 20px;
}

#snart.CCBB,
#snart.AAAA2 {
  padding-left: 20px;
}

/* ì†Œí–¥ì”¨ì–´í„° ì‹ í•œì¹´ë“œí™€ */
#sohyang_shinhancard.A11 .row {
  justify-content: flex-end;
}
#sohyang_shinhancard.A12 .row {
  justify-content: flex-end;
}
#sohyang_shinhancard.A21,
#sohyang_shinhancard.A41,
#sohyang_shinhancard.A22,
#sohyang_shinhancard.A42 {
  margin: 0 20px;
}
#sohyang_shinhancard.A11,
#sohyang_shinhancard.A12 {
  padding-left: 50px;
}
#sohyang_shinhancard.A51,
#sohyang_shinhancard.A52 {
  padding-right: 50px;
}

/* ê³„ëª…ì•„íŠ¸ì„¼í„° */
#kyemyung.AAOP1 .row {
  justify-content: center;
}
#kyemyung.A1F {
  justify-content: center;
  transform: rotate(10deg);
}
#kyemyung.A1F .row {
  justify-content: center;
}
#kyemyung.A11F {
  padding-left: 20px;
  padding-top: 80px;
  transform: rotate(10deg);
}
#kyemyung.B1F {
  padding-top: 40px;
  transform: rotate(3deg);
}

#kyemyung.B1F .row {
  justify-content: center;
}
#kyemyung.B11F {
  padding-left: 10px;
  padding-right: 20px;
  padding-top: 100px;
}
#kyemyung.C1F {
  padding-top: 50px;
}
#kyemyung.C11F {
  padding-top: 100px;
  padding-left: 20px;
  padding-right: 20px;
}
#kyemyung.D1F {
  padding-top: 40px;
  transform: rotate(-3deg);
}
#kyemyung.D1F .row {
  justify-content: center;
}
#kyemyung.D11F {
  transform: rotate(-10deg);
  padding-top: 80px;
  padding-right: 20px;
}
#kyemyung.E1F {
  justify-content: center;
  transform: rotate(-10deg);
}
#kyemyung.E1F .row {
  justify-content: center;
}

#kyemyung.A11G,
#kyemyung.B11G,
#kyemyung.C11G,
#kyemyung.D11G {
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
}

#kyemyung.L2 {
  padding-right: 1150px;
}
#kyemyung.R2 .row {
  justify-content: flex-end;
}
#kyemyung.D2F .row {
  justify-content: flex-end;
}
#kyemyung.A2F {
  padding-left: 20px;
}
#kyemyung.E2F {
  padding-right: 20px;
}
#kyemyung.A12F,
#kyemyung.B12F,
#kyemyung.C12F,
#kyemyung.D12F {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 50px;
}
#kyemyung.L3 {
  padding-right: 1150px;
}
#kyemyung.R3 .row {
  justify-content: flex-end;
}
#kyemyung.D3F .row {
  justify-content: flex-end;
}
#kyemyung.A3F {
  padding-left: 20px;
}
#kyemyung.E3F {
  padding-right: 20px;
}
#kyemyung.A13F,
#kyemyung.B13F,
#kyemyung.C13F,
#kyemyung.D13F {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 50px;
}
#kyemyung.A3F .row {
  justify-content: flex-end;
}

/* ê³ ì–‘ì•„ëžŒëˆ„ë¦¬ ì•„ëžŒê·¹ìž¥ */
#aramnuri.AA1 .row, #aramnuri.AB1 .row, #aramnuri.AA1A .row, #aramnuri.AAA1A .row,
/* #aramnuri.AA1B .row, #aramnuri.A1B .row, */
#aramnuri.AA1B .row, #aramnuri.A1C .row,
#aramnuri.AA2 .row, #aramnuri.AAA2 .row,
#aramnuri.AA3 .row, #aramnuri.AAA3 .row,
#aramnuri.AA4 .row, #aramnuri.AAA4 .row {
  justify-content: flex-end;
}

/* #aramnuri.BB1B .row, #aramnuri.DDB1B .row, */
#aramnuri.BB1B .row,
#aramnuri.B1C .row,
#aramnuri.B2 .row,
#aramnuri.B3 .row,
#aramnuri.B4 .row {
  justify-content: center;
}

#aramnuri.BA1,
#aramnuri.CB1,
#aramnuri.BC1,
#aramnuri.BA1A,
#aramnuri.BC1A,
#aramnuri.AB1B,
#aramnuri.BC1B,
#aramnuri.AB1C,
#aramnuri.BC1C,
#aramnuri.AB2,
#aramnuri.BC2,
#aramnuri.AB3,
#aramnuri.BC3,
#aramnuri.AB4,
#aramnuri.BC4 {
  padding: 0 10px;
}

#aramnuri.AA1,
#aramnuri.AB1,
#aramnuri.BA1,
#aramnuri.CB1,
#aramnuri.CC1,
#aramnuri.DD1,
#aramnuri.BA1A,
#aramnuri.BC1A,
#aramnuri.AB1C,
#aramnuri.BC1C {
  margin-top: 50px;
}

#aramnuri.AA1,
#aramnuri.AA1A,
#aramnuri.AA2,
#aramnuri.AA3,
#aramnuri.AA4 {
  margin-left: 50px;
}

#aramnuri.DD1,
#aramnuri.DD1A,
#aramnuri.DD2,
#aramnuri.DD3,
#aramnuri.DD4 {
  margin-right: 50px;
}

#aramnuri.AB2,
#aramnuri.BC2 {
  margin-top: 700px;
}

#aramnuri.AAA2,
#aramnuri.B2,
#aramnuri.C2 {
  margin-top: 650px;
}

#aramnuri.AB3,
#aramnuri.BC3,
#aramnuri.AB4,
#aramnuri.BC4 {
  margin-top: 550px;
}

#aramnuri.AAA3,
#aramnuri.B3,
#aramnuri.C3,
#aramnuri.AAA4,
#aramnuri.B4,
#aramnuri.C4 {
  margin-top: 500px;
}

#aramnuri.AB1 {
  padding-left: 130px;
}

#aramnuri.AAA1A {
  padding-left: 30px;
}

#aramnuri.AA1B {
  padding-left: 180px;
}

#aramnuri.CC1 {
  padding-right: 130px;
}

#aramnuri.C1A {
  padding-right: 30px;
}

#aramnuri.CC1B {
  padding-right: 180px;
}

#aramnuri.AA1,
#aramnuri.AA1A {
  margin-right: 30px;
}

#aramnuri.DD1,
#aramnuri.DD1A {
  margin-left: 30px;
}

#aramnuri.AB1,
#aramnuri.AAA1A,
#aramnuri.AA1B {
  border-left: 1px solid black;
}

#aramnuri.CC1,
#aramnuri.C1A,
#aramnuri.CC1B {
  border-right: 1px solid black;
}

#aramnuri.AA1B,
#aramnuri.AB1B,
#aramnuri.BB1B,
#aramnuri.BC1B,
#aramnuri.CC1B {
  border-bottom: 1px solid black;
  padding-bottom: 30px;
}

/* ë“œë¦¼ì”¨ì–´í„° */
#dreamtheater.aa1 .row {
  justify-content: flex-end;
  padding-left: 50px;
}

#dreamtheater.ab1 .row,
#dreamtheater.bc1 .row {
  padding-left: 25px;
  padding-right: 25px;
}

#dreamtheater.bb1 .row {
  justify-content: center;
}

#dreamtheater.cc1 .row {
  padding-right: 50px;
}

#dreamtheater.aa2 .row {
  justify-content: flex-end;
  padding-left: 50px;
}

#dreamtheater.ab2 .row,
#dreamtheater.bc2 .row {
  padding-left: 25px;
  padding-right: 25px;
}

#dreamtheater.bb2 .row {
  justify-content: center;
}

#dreamtheater.cc2 .row {
  padding-right: 50px;
}

#dreamtheater.aa3 .row {
  justify-content: flex-end;
  padding-left: 50px;
}

#dreamtheater.ab3 .row,
#dreamtheater.bc3 .row {
  padding-left: 25px;
  padding-right: 25px;
}

#dreamtheater.bb3 .row {
  justify-content: center;
}

#dreamtheater.cc3 .row {
  padding-right: 50px;
}

/* ë§í¬ì•„íŠ¸ì„¼í„° íŽ˜ì´ì½”í™€ */
#link_payco.A01 {
  padding-right: 20px;
  padding-left: 50px;
}
#link_payco.A11 .row {
  justify-content: center;
}
#link_payco.A21 .row {
  justify-content: flex-end;
}
#link_payco.A31 {
  padding-left: 45px;
}
#link_payco.A41 {
  padding-left: 20px;
  padding-right: 50px;
}

/* ë§í¬ì•„íŠ¸ì„¼í„° ë²…ìŠ¤í™€ */
#link_bugs.A01 {
  padding-left: 50px;
}
#link_bugs.A11 .row {
  justify-content: flex-end;
}
#link_bugs.A11 .row:nth-child(14) {
  padding-top: 15px;
}
#link_bugs.A21 .row {
  justify-content: flex-end;
}
#link_bugs.A21 .row:nth-child(14) {
  padding-top: 15px;
}
#link_bugs.A31 .row {
  justify-content: flex-end;
}
#link_bugs.A31 .row:nth-child(14) {
  padding-top: 15px;
}
#link_bugs.A01 {
  padding-right: 30px;
}
#link_bugs.A01 .row:nth-child(14) {
  padding-top: 15px;
}
#link_bugs.A41 {
  padding-left: 30px;
  padding-right: 50px;
}
#link_bugs.A41 .row:nth-child(14) {
  padding-top: 15px;
}

/* íŠ¸ë ˆì´ìŠ¤ ìœ  2023 */
#link_bugs.TA0Aë¬´ëŒ€ {
  padding-right: 720px;
}